body {
  margin: 0px;
  padding: 3px;
  font-family: sans-serif;
  font-size: 13px;
}

#footer {
  padding-top: 5px;
  text-align: center;
  clear: both;
  font-size: 11px;
}

table {
  font-family: sans-serif;
  font-size: 13px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  border-spacing: 0px;
}

legend { font-weight: bold; }
fieldset {
  border: #67a7e3 1px solid;
  margin-bottom: 5px;
}

h3 { margin: 5px; }

#container {
  border: 1px solid #76a7e0;
}

#pid_search {
  display: none;
}

#pid_display {
  display: none;
}

#nav_bar {
  text-align: right;
  padding: 4px;
  padding-bottom: 6px;
}

#nav_bar ul {
  margin: 0px;
}

#nav_bar li {
  display: inline;
  list-style-type: none;
}

.upper_div {
  background-color: #e4e9fe;
  padding: 5px;
  border-bottom: 1px solid #76a7e0
}

#pid_table {
  width: 100%;
}

#pid_table th {
  border-bottom: 1px solid #e4e9fe;
  cursor: pointer;
}

#pid_table td {
  cursor: pointer;
}

th .sorter_icon {
  background-image: url(/images/up-down.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: -0px -0px;
  width: 16px;
  display: -moz-inline-box; /* Ignored by FF3 and later. */
  display: inline-block;
}

th.goog-tablesorter-sorted .sorter_icon{
  background-position: -32px 0px;
}

th.goog-tablesorter-sorted-reverse .sorter_icon {
  background-position: -16px 0px;
}

.message_table {
  border-spacing: 5px;
}

.message_structure {
  border: 1px solid #000;
  text-align: center;
  height: 100%;
  margin: 10px;
}

.message_field {
  border: 1px solid #00c;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
  margin-bottom: 4px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  padding: 4px;
}

.bool_field {
  width: 20%;
}

.uint8_field {
  width: 20%;
}

.uint16_field {
  width: 40%;
}

.uint32_field {
  width: 80%;
}

.string_field {
  width: 80%;
}

.cursor_pointer {
  cursor: pointer;
}

.cursor_move {
  cursor: move;
  -moz-user-select: none;
}

.goog-tooltip {
  background: infobackground;
  color: infotext;
  border: 1px solid infotext;
  padding: 1px;
  font: menu;
}

.goog-tooltip ul {
  margin: 0px;
}

.subdevice_range_help,
.repeat_help,
.max_repeat_help {
  cursor: pointer;
}

.goog-control {
  cursor: pointer;
  outline: none;
}

.goog-inline-block {
  position: relative;
  display: -moz-inline-box; /* Ignored by FF3 and later. */
  display: inline-block;
}

.ac-renderer {
  font: normal 12px Arial, sans-serif;
  position: absolute;
  background: #fff;
  border: 1px solid #666;
  -moz-box-shadow: 2px 2px 2px rgba(102, 102, 102, .4);
  -webkit-box-shadow: 2px 2px 2px rgba(102, 102, 102, .4);
  width: 400px;
}

.ac-row {
  cursor: pointer;
  padding: .4em;
}

.ac-highlighted {
  font-weight: bold;
}

.ac-active {
  background: #e4e9fe;
}
