language: python

before_cache:
- rm -f $HOME/.cache/pip/log/debug.log # erase log

cache:
  directories:
    - $HOME/.npm
    - $HOME/.cache/pip

before_install:
  - if [[ "$TASK" == "deploy" ]]; then openssl aes-256-cbc -K $encrypted_7eede60d6b12_key -iv $encrypted_7eede60d6b12_iv -in credentials.tar.gz.enc -out credentials.tar.gz -d && tar -xzf credentials.tar.gz; fi
  - if [[ "$TASK" == "spellintian" ]]; then wget "http://archive.ubuntu.com/ubuntu/pool/main/l/lintian/lintian_2.5.104_all.deb"; sudo dpkg -i lintian_*.deb; sudo apt-get install -f -y; fi # Install a later lintian

install:
  - if [ "$TASK" = "nosetests" -o "$TASK" = "flake8" -o "$TASK" = "flake8-wip" ]; then pip install json-spec; fi
  - if [ "$TASK" = "karma" -o "$TASK" = "js-lint" -o "$TASK" = "closure-compiler" -o "$TASK" = "deploy" ]; then npm install -g grunt-cli; fi
  - if [ "$TASK" = "karma" -o "$TASK" = "js-lint" -o "$TASK" = "closure-compiler" -o "$TASK" = "deploy" ]; then npm install; fi
  - if [ "$TASK" = "flake8" -o "$TASK" = "flake8-wip" ]; then pip install flake8; fi
# If this causes SSL errors, then Sourceforge is probably in disaster recovery mode and needing Javascript. Could switch to a specific mirror, e.g. kent.dl.sourceforge.net
  - if [ "$TASK" = "pychecker" -o "$TASK" = "pychecker-wip" ]; then pip install http://sourceforge.net/projects/pychecker/files/pychecker/0.8.19/pychecker-0.8.19.tar.gz/download; fi
  - if [ "$TASK" = "codespell" ]; then pip install git+https://github.com/codespell-project/codespell.git; fi

matrix:
  fast_finish: true
  include:
    - python: "2.7"
      env: TASK="nosetests"
    - os: linux
      dist: xenial
      env: TASK="karma"
      services:
        - xvfb
    - env: TASK="js-lint"
    - env: TASK="closure-compiler"
    - env: TASK="data-check"
      addons:
        apt:
          packages:
            - libhtml-parser-perl
    - os: linux
      dist: xenial
      env: TASK='spellintian'
      addons:
        apt:
          packages:
            - moreutils
    - os: linux
      dist: trusty
      env: TASK='codespell'
      addons:
        apt:
          packages:
           - moreutils
    - os: linux
      dist: trusty
      python: "2.7"
      env: TASK='flake8'
    - os: linux
      dist: trusty
      python: "2.7"
      env: TASK='flake8-wip'
    - os: linux
      dist: trusty
      python: "2.7"
      env: TASK='pychecker'
    - os: linux
      dist: trusty
      python: "2.7"
      env: TASK='pychecker-wip'
    - stage: deploy
      os: linux
      dist: trusty
      env: TASK='deploy'
      deploy:
        - provider: gae
          edge:
            branch: master
          keyfile: peter-ola-rdm-app-51be81f8c2c3.json
          project: peter-ola-rdm-app
          config:
           - app.yaml
           - index.yaml
          skip_cleanup: true
          on:
            all_branches: true

  allow_failures:
    - os: linux
      dist: trusty
      python: "2.7"
      env: TASK='flake8-wip'
    - os: linux
      dist: trusty
      python: "2.7"
      env: TASK='pychecker'
    - os: linux
      dist: trusty
      python: "2.7"
      env: TASK='pychecker-wip'

script: "bash -ex .travis-ci.sh"

notifications:
  irc:
    channels:
     - "chat.freenode.net#openlighting"
    on_success: change
    on_failure: change
