<html>

<body>

<a href="{{ logout_url }}">Logout</a> <br/>
<a href="/count">Count PIDs</a>

<h4>Manufacturers</h4>
<ul>
  <li><a href="/admin?action=clear_m">Clear Manufacturers</a></li>
  <li><a href="/admin?action=load_m">Load Manufacturers</a></li>
</ul>

<h4>PIDs</h4>

<ul>
  <li><a href="/admin?action=clear_p">Clear PIDs</a></li>
  <li><a href="/admin?action=load_p">Load ESTA PIDs</a></li>
  <li><a href="/admin?action=load_mp">Load Manufacturer PIDs</a></li>

</ul>

<h4>Device Models</h4>

<ul>
  <li><a href="/admin?action=clear_models">Clear Models</a></li>
  <li><a href="/admin?action=load_models">Load Models</a></li>
<ul>

</ul>
</body>
</html>
