{% extends "base.tmpl" %}

{% block content %}
    <div style="padding-left: 15px; padding-bottom: 15px">
        <a class="btn btn-default" href="{{ logout_url }}">Logout</a>
    </div>


    {% if message %}
        <div id="output" class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
    {% endif %}


    <form method="get" action="/admin/adjust_test_score">
        <div class="form-group">
                <label for="manufacturer">Manufacturer ID:</label>
                <input id="manufacturer" class="form-control" type="text" name="manufacturer">
        </div>
        <div class="form-group">
                <label for="model">Device ID:</label>
                <input id="model" class="form-control" type="text" name="model">
        </div>
        <div class="form-group">
                <label for="rating">New Rating:</label>
                <input id="rating" class="form-control" type="text" name="rating">
        </div>

        <div class="button-container">
            <button type="submit" class="btn btn-default" id='save-button'>Update</button>
        </div>
    </form>
{% endblock %}
