<html>

<body>

<a href="{{ logout_url }}">Logout</a> <br/>

<h4>Manufacturers</h4>
<ul>
  <li><a href="/admin?action=update_m">Update Manufacturers</a></li>
</ul>

<h4>PIDs</h4>

<ul>
  <li><a href="/admin?action=clear_p">Clear PIDs</a></li>
  <li><a href="/admin?action=load_p">Load ESTA PIDs</a></li>
  <li><a href="/admin?action=load_mp">Load Manufacturer PIDs</a></li>

</ul>

<h4>Device Models</h4>

<ul>
  <li><a href="/admin?action=clear_models">Clear Models</a></li>
  <li><a href="/admin?action=load_models">Load Models</a></li>
</ul>

<h4>Product Categories</h4>

<ul>
  <li><a href="/admin?action=update_categories">Update Categories</a></li>
<ul>

</body>
</html>
