{% extends "base.tmpl" %}

{% block title %}PID Search{% endblock %}

{% block content %}
    <div class="search_div">
        {% block search_widget %}{% endblock %}
    </div>
    <table id="pid_table" class="results_table table table-hover">
        <thead>
        <tr>
            <th>Manufacturer Name
                <div class="sorter_icon">&nbsp;</div>
            </th>
            <th>Manufacturer ID
                <div class="sorter_icon">&nbsp;</div>
            </th>
            <th>PID
                <div class="sorter_icon">&nbsp;</div>
            </th>
            <th>Get
                <div class="sorter_icon">&nbsp;</div>
            </th>
            <th>Set
                <div class="sorter_icon">&nbsp;</div>
            </th>
            <th>Name
                <div class="sorter_icon">&nbsp;</div>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for pid in pids %}
            <tr class="results_row"
                onclick="window.location='/pid/display?manufacturer={{ pid.manufacturer.esta_id }}&amp;pid={{ pid.pid_id }}'">
                <td>{{ pid.manufacturer.name }}</td>
                <td>0x{{ pid.manufacturer.esta_id|stringformat:"04hx"}}</td>
                <td>0x{{ pid.pid_id|stringformat:"04hx" }}</td>
                <td>
                    {% if pid.get_command %}
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    {% endif %}
                </td>
                <td>
                    {% if pid.set_command %}
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    {% endif %}
                </td>
                <td>{{ pid.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block extra_headers %}
    <script src="/js/app.js"></script>
    <script type="text/javascript">
        app.makePIDTable("pid_table");
    </script>
{% endblock %}
