<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}RDM Manufacturer Index{% endblock %}</title>
  <meta name="description" content="A searchable index of RDM controllers, devices and parameter IDs">
  <meta name="keywords" content="RDM, Remote Device Management, DMX512, Lighting Control, Open Lighting Project, RDM Controllers, RDM Software">
  <link href="https://plus.google.com/u/0/b/106460627923808853381/" rel="publisher" />
  <link rel='stylesheet' href='/css/main.css'>
  {% block extra_headers %} {% endblock %}

  <!--[if !IE 7]>
    <style type="text/css">
      #wrap { display: table; height: 100%}
    </style>
  <![endif]-->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-2744693-3']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>

<div id="wrap">
<div id="login">
  <ul>
    <li><a href="/admin">Admin Page</a></li>
  </ul>
</div>

<h2>RDM Manufacturer Library</h2>

<div id="main">
  <div id="nav_bar">
  <ul>
   <li>RDM Devices
    <ul>
     <li><a href="/model/browse">Browse</a></li>
     <li><a href="/model/manufacturer">Search By Manufacturer</a></li>
     <li><a href="/model/category">Search By Product Category</a></li>
     <li><a href="/model/tag">Search By Tag</a></li>
    </ul>
   </li>
   <li>RDM Controllers
    <ul>
     <li><a href="/controller/browse">Browse</a></li>
     <li><a href="/controller/manufacturer">Search By Manufacturer</a></li>
     <li><a href="/controller/tag">Search By Tag</a></li>
    </ul>
   </li>
   <li>RDM Parameters
     <ul>
      <li><a href="/pid/manufacturer">Search By Manufacturer</a></li>
      <li><a href="/pid/name">Search By Name</a></li>
      <li><a href="/pid/id">Search By Parameter ID</a></li>
     </ul>
   </li>
  </ul>
  </div>

  <div id="outer_content">
    <div id="inner_content">
      {% block content %}{% endblock %}
    </div>
  </div>
</div>
</div>

<div id="footer">
  <a href="/about">About</a> |
  <a href="/disclaimer">Disclaimer</a> |
  <a href="http://www.openlighting.org">Open Lighting Project</a>
  <div>
    Last Updated: {{ last_updated|date:"D d M Y" }} <br>
    {{ manufacturer_pid_count }} Manufacturer PIDs,
    {{ model_count }} Devices.
  </div>
</div>
</body>
</html>
