{% extends "base.tmpl" %}

{% block title %}Browse Devices, Page {{ page_number }}{% endblock %}

{% block content %}

    <div class="browse_nav">
        <div style="float: left; text-align: left">
            {% if previous %}
                <a href="/model/browse?page={{ previous }}">Previous Page</a>
            {% else %}
                &nbsp;
            {% endif %}
        </div>
        Displaying {{ start }} to {{ end }} of {{ total }}
        <div style="float: right; text-align: right">
            {% if next %}
                <a href="/model/browse?page={{ next }}">Next Page</a>
            {% else %}
                &nbsp;
            {% endif %}
        </div>
    </div>

    <table class="browse_table">
        {% for row in model_rows %}
            <tr>
                {% for model in row %}
                    <td>
                        <a href="/model/display?manufacturer={{ model.manufacturer_id }}&model={{ model.model_id }}">
                            {% if model.image_key %}
                                <img src="{{ model.image_key }}=s100"><br>
                            {% else %}
                                <div class="missing_image">No Image Available</div>
                            {% endif %}
                            {{ model.name }}
                        </a>
                        {% if model.star_width %}
                            <span id="rating_{{ forloop.parentloop.counter0 }}_{{ forloop.counter0 }}"
                                  class="rdm_rating" style="width: {{ model.star_width }}px">
         </span>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <div class="browse_nav">
        <div style="float: left; text-align: left">
            {% if previous %}
                <a href="/model/browse?page={{ previous }}">Previous Page</a>
            {% else %}
                &nbsp;
            {% endif %}
        </div>

        Displaying {{ start }} to {{ end }} of {{ total }}

        <div style="float: right; text-align: right">
            {% if next %}
                <a href="/model/browse?page={{ next }}">Next Page</a>
            {% else %}
                &nbsp;
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block extra_headers %}
    <script src="/js/app.js"></script>
    <script type="text/javascript">
        function attachTooltip(i, j, rating) {
            var el = document.getElementById('rating_' + i + '_' + j);
            var tt = new goog.ui.Tooltip(el);
            tt.setHtml('RDM Responder Test Score: ' + rating + '%');
        }

        {% for row in model_rows %}
            {% for model in row %}
                {% if model.rating %}
                    attachTooltip({{ forloop.parentloop.counter0 }},
                            {{ forloop.counter0 }},
                            {{ model.rating }});
                {% endif %}
            {% endfor %}
        {% endfor %}
    </script>
{% endblock %}