{% extends "base.tmpl" %}

{% block title %}Browse {{ product_type|capfirst }}s, Page {{ page_number }}{% endblock %}

{% block content %}
    <div class="search_products">
        <form class="form-inline" action="/{{ product_type }}/browse" method="get">
            <div class="form-group">
                <label for="manufacturer_select">Search by Manufacturer:</label>
                <select class="form-control" id="manufacturer_select" name="manufacturer"></select>
            </div>
            <input class="btn btn-default" type="submit" value="Search">
        </form>
        <form class="form-inline" action="/{{ product_type }}/browse" method="get">
            <div class="form-group">
                <label for="tag_select">Search by Tag:</label>
                <select class="form-control" id="tag_select" name="tag"></select>
            </div>
            <input class="btn btn-default" type="submit" value="Search">
        </form>
    </div>

    <nav>
        <ul class="pager">
            {% if previous %}
                <li class="previous">
                    <a href="/{{ product_type }}/browse?page={{ previous }}{% if tag %}&tag={{ tag }}{% endif %}{% if manufacturer %}&manufacturer={{ manufacturer }}{% endif %}">
                        <span aria-hidden="true">&larr;</span> Previous Page
                    </a>
                </li>
            {% else %}
                <li class="previous disabled">
                    <a href="#"><span aria-hidden="true">&larr;</span> Previous Page</a>
                </li>
            {% endif %}
            <li>Displaying {{ start }} to {{ end }} of {{ total }}</li>
            {% if next %}
                <li class="next">
                    <a href="/{{ product_type }}/browse?page={{ next }}{% if tag %}&tag={{ tag }}{% endif %}{% if manufacturer %}&manufacturer={{ manufacturer }}{% endif %}">
                        Next Page <span aria-hidden="true">&rarr;</span>
                    </a>
                </li>
            {% else %}
                <li class="next disabled">
                    <a href="#">Next Page <span aria-hidden="true">&rarr;</span></a>
                </li>
            {% endif %}
        </ul>
    </nav>

    <div class="models">
        {% for row in product_rows %}
                {% for product in row %}
                    <div class="panel panel-default model_panel"
                         onclick="location.href=''/{{ product_type }}/display?key={{ product.key }}'">
                        <div class="panel-heading">
                            {{ product.name }}
                        </div>
                        <div class="panel-body">
                            {% if product.image_key %}
                                <img src="{{ product.image_key }}=s100"><br>
                            {% else %}
                                <div class="missing_image">No Image Available</div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
        {% endfor %}
    </div>

    <nav>
        <ul class="pager">
            {% if previous %}
                <li class="previous">
                    <a href="/{{ product_type }}/browse?page={{ previous }}{% if tag %}&tag={{ tag }}{% endif %}{% if manufacturer %}&manufacturer={{ manufacturer }}{% endif %}">
                        <span aria-hidden="true">&larr;</span> Previous Page
                    </a>
                </li>
            {% else %}
                <li class="previous disabled">
                    <a href="#"><span aria-hidden="true">&larr;</span> Previous Page</a>
                </li>
            {% endif %}
            <li>Displaying {{ start }} to {{ end }} of {{ total }}</li>
            {% if next %}
                <li class="next">
                    <a href="/{{ product_type }}/browse?page={{ next }}{% if tag %}&tag={{ tag }}{% endif %}{% if manufacturer %}&manufacturer={{ manufacturer }}{% endif %}">
                        Next Page <span aria-hidden="true">&rarr;</span>
                    </a>
                </li>
            {% else %}
                <li class="next disabled">
                    <a href="#">Next Page <span aria-hidden="true">&rarr;</span></a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}

{% block extra_headers %}
    <script>
        var MANUFACTURER = '{{ manufacturer }}';
        var PRODUCT_TYPE = '{{ product_type }}';
        var TAG = '{{ tag }}';

        function generic_fetch(url, callback) {
            $.ajax({
                url: url,
                type: 'GET',
                dataType: 'json',
                error: function (jqXHR, textStatus, errorThrown) {
                },
                success: callback,
                cache: false
            });


        }

        function fetch_tags() {
            generic_fetch(
                    '/api/json/1/' + PRODUCT_TYPE + '_tags',
                    function (tags) {
                        var select = $('#tag_select');
                        $.each(tags, function (i, tag) {
                            var value = tag['label']
                            var label = value + ' (' + tag['count'] + ')';
                            var item = $('<option />').val(value).html(label);
                            select.append(item);
                            if (value == TAG) {
                                item.attr("selected", true);
                            }
                        });
                    }
            );
        }

        function fetch_manufacturers() {
            generic_fetch(
                    '/api/json/1/' + PRODUCT_TYPE + '_manufacturers',
                    function (manufacturers) {
                        var select = $('#manufacturer_select');
                        $.each(manufacturers, function (i, manufacturer) {
                            var value = manufacturer['id']
                            var label = manufacturer['name'] + ' (' + manufacturer['count'] + ')';
                            var item = $('<option />').val(value).html(label);
                            select.append(item);
                            if (value == MANUFACTURER) {
                                item.attr("selected", true);
                            }
                        });
                    }
            );
        }


        $(document).ready(function () {
            fetch_tags();
            fetch_manufacturers();
        });

    </script>
{% endblock %}

