
{% extends "base.tmpl" %}

{% block title %}Browse Controller, Page {{ page_number }}{% endblock %}
{% block content %}

<div class="browse_nav">
<div style="float: left; text-align: left">
{% if previous %}
<a href="/controller/browse?page={{ previous }}">Previous Page</a>
{% else %}
&nbsp;
{% endif %}
</div>

Displaying {{ start }} to {{ end }} of {{ total }}

<div style="float: right; text-align: right">
{% if next %}
<a href="/controller/browse?page={{ next }}">Next Page</a>
{% else %}
&nbsp;
{% endif %}
</div>
</div>

<table class="browse_table">
  {% for row in controller_rows %}
    <tr>
    {% for controller in row %}
     <td>
       <a href="/controller/display?key={{ controller.key }}">
       {% if controller.image_key %}
        <img src="{{ controller.image_key }}=s100"></img><br>
       {% else %}
         <div class="missing_image">No Image Available</div>
       {% endif %}
       {{ controller.name }}</a>
     </td>
    {% endfor %}
    </tr>
  {% endfor %}
</table>

<div class="browse_nav">
<div style="float: left; text-align: left">
{% if previous %}
<a href="/controller/browse?page={{ previous }}">Previous Page</a>
{% else %}
&nbsp;
{% endif %}
</div>

Displaying {{ start }} to {{ end }} of {{ total }}

<div style="float: right; text-align: right">
{% if next %}
<a href="/controller/browse?page={{ next }}">Next Page</a>
{% else %}
&nbsp;
{% endif %}
</div>
</div>

</div>
{% endblock %}
