{% extends "base.tmpl" %}

{% block content %}
    <a href="{{ logout_url }}">Logout</a> <br/>
    <br/>

    <h4>Actions</h4>
    <ul>
        <li><a href="/contrib/add_responder_info">Add Responder Images &amp; URLs</a></li>
    </ul>
{% endblock %}
