{% extends "base.tmpl" %}
{% block content %}
    <a href="{{ logout_url }}">Logout</a> <br/>
    <br/>

    <h3>Add Images</h3>

    {% if responders %}

        <p>Add as many images &amp; URLs as you can find, you don't need to do all of
            them.</p>

        <form method="post" action="/contrib/add_responder_info">
            <table class="table">
                <tr>
                    <th>Manufacturer</th>
                    <th>Model</th>
                    <th>URL</th>
                    <th>Image</th>
                </tr>
                {% for responder in responders %}
                    <tr>
                        <td>{{ responder.manufacturer }}</td>
                        <td>{{ responder.model }}</td>
                        <td>
                            {% if not responder.url %}
                                <input class="form-control" type="text" name="{{ responder.manufacturer_id }}_{{ responder.id }}_url"></td>
                            {% else %}
                                &nbsp;
                            {% endif %}
                        <td>
                            {% if not responder.image %}
                                <input class="form-control" type="text" name="{{ responder.manufacturer_id }}_{{ responder.id }}_image"></td>
                            {% else %}
                                &nbsp;
                            {% endif %}
                    </tr>
                {% endfor %}
            </table>

            <div class="button-container">
                <input type="submit" name="update" value="Save Changes" class="btn btn-default">
            </div>
        </form>
    {% else %}

        <p>We have images &amp; URLs for everything! Try again later.</p>
    {% endif %}
{% endblock %}