{% extends "base.tmpl" %}

{% block title %}RDM Manufacturer Index - Disclaimer{% endblock %}

{% block content %}
    <div style="padding: 5px">
        <b>Disclaimer</b>

        <p>This site makes no guarantees about the correctness of the PID
            information.</p>

        <p>The authoritative source for Manufacturer IDs is the
            <a href="http://tsp.esta.org/tsp/working_groups/CP/mfctrIDs.php">
                ESTA Site</a>.</p>

        <p>For PIDs in the ranges {0x0000, 0x7fff} and {0xffe0, 0xffff}, the E1.20 and
            E1.37-X documents are authoritative. These can be downloaded from
            the ESTA
            <a href="http://tsp.esta.org/tsp/documents/published_docs.php">
                Technical Standards Program</a>.</p>
    </div>
{% endblock %}
