{% extends "base.tmpl" %}

{% block title %}{{ manufacturer }} - {{ description }}{% endblock %}

{% block content %}
    <div id="fb-root"></div>

    <div class="row">
    <div class="col-md-6 model_image_div col-md-push-6">
        {% if image_key %}
            <img id="model_image" src="{{ image_key }}=s200">
        {% endif %}
    </div>
    <div class="col-md-6 col-md-pull-6">
        <table class="table" id="model_info_table">
            <tr>
                <td>Manufacturer</td>
                <td><a href="/manufacturer/display?manufacturer={{ manufacturer_id }}">{{ manufacturer }}</a></td>
            </tr>
            {% if description %}
                <tr>
                    <td>Name</td>
                    <td>{{ description }}</td>
                </tr>
            {% endif %}
            <tr>
                <td>Model Id</td>
                <td>{{ model_id }} (0x{{ model_id|stringformat:"04x" }})</td>
            </tr>
            {% if product_category %}
                <tr>
                    <td>Product Category</td>
                    <td><a href="/model/category?category={{ product_category_id }}">{{ product_category }}</a></td>
                </tr>
            {% endif %}
            {% if link %}
                <tr id="model_link_row">
                    <td>Link</td>
                    <td><a href="{{ link }}">{{ link }}</a></td>
                </tr>
            {% endif %}
            {% if tags %}
                <tr id="model_tags_row">
                    <td>Tags</td>
                    <td>
                        {% for tag in tags %}
                            <div class="model_tag"><a href="tag?tag={{ tag|urlencode }}">{{ tag }}</a></div>
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td colspan="2">
                        <div style="display: inline-flex!important;" class="fb-like" data-send="false"
                             data-layout="button_count"
                             data-width="100" data-show-faces="false"
                             data-action="recommend"></div>
                        <a href="https://twitter.com/share" class="twitter-share-button"
                           data-count="horizontal">Tweet</a>
                        <g:plusone size="medium"></g:plusone>
                </td>
            </tr>
        </table>
    </div>
    </div>
    {% if software_versions %}
        <fieldset id="software_fieldset">
            <legend class="form-inline">
                <label for="software_select">Software Version:</label>
                <select class="form-control" name="software_select" id="software_select"
                        onChange="app.changeSoftwareVersion(this); dirty_fix()">
                    {% for version in software_versions %}
                        {% if version.label %}
                            <option>{{ version.label }} ({{ version.version_id }})</option>
                        {% else %}
                            <option>{{ version.version_id }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </legend>

            <div  class="panel panel-default" id="model_personality_fieldset">
                <div class="panel-heading">DMX Personalities</div>
                <table class="table">
                    <tr>
                        <th>Index</th>
                        <th>Slot Count</th>
                        <th>Description</th>
                    </tr>
                    <tbody id="model_personality_tbody"></tbody>
                </table>
            </div>

            <div class="panel panel-default" id="model_sensor_fieldset">
                <div class="panel-heading">Sensor Information</div>
                <table class="table">
                    <tr>
                        <th>Sensor Number</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Supports Recording</th>
                        <th>Supports Min/Max</th>
                    </tr>
                    <tbody id="model_sensor_tbody"></tbody>
                </table>
            </div>

            <div class="panel panel-default" id="model_params_fieldset">
                <div class="panel-heading">Supported Parameters</div>
                <ul class="list-group" id="model_params_list"></ul>
            </div>
        </fieldset>
    {% endif %}
{% endblock %}

{% block extra_headers %}
    <script src="/js/app.js"></script>
    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
    <script type="text/javascript">
        (function () {
            var po = document.createElement('script');
            po.type = 'text/javascript';
            po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(po, s);
        })();
    </script>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script type="text/javascript">
        app.setSoftwareVersions({{ software_versions_json|safe }});
        app.setLatestVersion(document.getElementById('software_select'));
        function dirty_fix(){
            jQuery('#model_params_list').children().each(function(){jQuery(this).addClass('list-group-item')});
            jQuery('#model_sensor_tbody').find('td').each(function(){var a=jQuery(this);if(a.text() === 'true'){a.html('<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>');}else if(a.text() === 'false'){a.html('')}});
        }
        dirty_fix()
    </script>
{% endblock %}
