{% extends "base.tmpl" %}

{% block title %}{{ manufacturer }}{% endblock %}

{% block content %}
    <div style="float: right;">
        {% if image_serving_url %}
            <img id="model_image" src="{{ image_serving_url }}=s200">
        {% endif %}
    </div>
    <div id="manufacturer_info">
        <h3>{{ manufacturer }} </h3>
        <br/>
        {% if url %}
            <a href="{{ url }}">{{ url }}</a>
        {% endif %}

        {% if devices %}
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Devices</div>
                <ul class="list-group">
                    {% for device in devices %}
                        <li class="list-group-item">
                            <a href="/model/display?manufacturer={{ id }}&amp;model={{ device.device_model_id }}">
                                {% if device.model_description %}
                                    {{ device.model_description }}
                                {% else %}
                                    Model ID {{ device.device_model_id }}
                                {% endif %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if splitter %}
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Splitters</div>
                <ul class="list-group">
                    {% for product in splitter %}
                        <li class="list-group-item">
                            <a href="/splitter/display?key={{ product.key }}">{{ product.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if software %}
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Software</div>
                <ul class="list-group">
                    {% for product in software %}
                        <li class="list-group-item">
                            <a href="/software/display?key={{ product.key }}">{{ product.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if node %}
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Ethernet Nodes</div>
                <ul class="list-group">
                    {% for product in node %}
                        <li class="list-group-item">
                            <a href="/node/display?key={{ product.key }}">{{ product.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if controller %}
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Controllers</div>
                <ul class="list-group">
                    {% for product in controller %}
                        <li class="list-group-item">
                            <a href="/controller/display?key={{ product.key }}">{{ product.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if pids %}
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">PIDs</div>
                <ul class="list-group">
                    {% for pid in pids %}
                        <li class="list-group-item">
                            <a href="/pid/display?manufacturer={{ id }}&amp;pid={{ pid.pid_id }}">{{ pid.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}
