{% extends "base_pid_search.tmpl" %}

{% block title %}Search PIDs by ID{% endblock %}

{% block search_widget %}
<form action="/pid/id" method="get">
PID ID: <input type="text" name="id">
<input type="submit" value="Search">
</form>
{% endblock %}
