{% extends "base_pid_search.tmpl" %}

{% block title %}Search PIDs by ID{% endblock %}

{% block search_widget %}
    <form class="form-inline" action="/pid/id" method="get">
        <div class="input-group">
            <span class="input-group-addon" id="text-search">
                PID ID:
            </span>
            <input class="form-control" type="text" name="id" aria-describedby="text-search">
            <span class="input-group-btn">
                <input class="btn btn-default" type="submit" value="Search">
            </span>
        </div>
    </form>
{% endblock %}
