{% extends "base_pid_search.tmpl" %}

{% block title %}Search PIDs by ID{% endblock %}

{% block search_widget %}
    <form class="form-inline" action="/pid/id" method="get">
        <div class="form-group">
            <label for="text-search">
                PID ID:
            </label>
            <input class="form-control" type="text" name="id" id="text-search">
        </div>
        <input class="btn btn-default" type="submit" value="Search">
    </form>
{% endblock %}
