{% extends "base_model_search.tmpl" %}

{% block title %}Search Device by Manufacturer{% endblock %}

{% block search_widget %}
<form action="/model/manufacturer" method="get">
Manufacturer: 
<select name="manufacturer">
  {% for manufacturer in manufacturers %}
  <option
    value="{{ manufacturer.id }}"
    {% if manufacturer.id == current_id %} selected {% endif %}>
    {{ manufacturer.name }} ({{manufacturer.responder_count }})</option>
  {% endfor %}
</select>
<input type="submit" value="Search">
</form>
{% endblock %}
