{% extends "base_pid_search.tmpl" %}

{% block title %}Search PIDs by Name{% endblock %}

{% block search_widget %}
    <form class="form-inline" action="/pid/name" method="get">
        <div class="form-group">
            <label for="pid-search">
                PID Name:
            </label>
            <input class="form-control" id="pid-search" type="text" name="name">
        </div>
        <input class="btn btn-default" type="submit" value="Search">
    </form>
{% endblock %}
