{% extends "base_product_search.tmpl" %}

{% block title %}Search {{ product_type|capfirst }} by Tag{% endblock %}

{% block search_widget %}
<form action="/{{ product_type }}/tag" method="get">
Tag: 
<select name="tag">
  {% for tag in tags %}
  <option
    value="{{ tag.label }}"
    {% if tag.label == current_tag %} selected {% endif %}>
    {{ tag.label }} ({{tag.product_count }})</option>
  {% endfor %}
</select>
<input type="submit" value="Search">
</form>
{% endblock %}
