{% extends "base_model_search.tmpl" %}

{% block title %}Search Devices by Tag{% endblock %}

{% block search_widget %}
    <form class="form-inline" action="/model/tag" method="get">
        <div class="form-group">
            <label for="tag-search">
                Tag:
            </label>
            <select class="form-control" id="tag-search" name="tag">
                {% for tag in tags %}
                    <option value="{{ tag.label }}"
                            {% if tag.label == current_tag %} selected {% endif %}>
                        {{ tag.label }} ({{ tag.responder_count }})
                    </option>
                {% endfor %}
            </select>
        </div>
        <input class="btn btn-default" type="submit" value="Search">
    </form>
{% endblock %}
