{% extends "base_controller_search.tmpl" %}

{% block title %}Search Controllers by Tag{% endblock %}

{% block search_widget %}
<form action="/controller/tag" method="get">
Tag: 
<select name="tag">
  {% for tag in tags %}
  <option
    value="{{ tag.label }}"
    {% if tag.label == current_tag %} selected {% endif %}>
    {{ tag.label }} ({{tag.controller_count }})</option>
  {% endfor %}
</select>
<input type="submit" value="Search">
</form>
{% endblock %}
