{% extends "base.tmpl" %}

{% block title %}RDM Manufacturer Index - Tools{% endblock %}

{% block content %}
    <div ng-app="rdmApp">
        <h3>Convert UID to EUID</h3>

        <div ng-controller="UIDController as convertor">
            <form class="form-inline" ng-submit="convertor.convertToEUID()">
                <div class="form-group">
                    <label for="covertor-input-uid">UID:</label>
                    <input id="covertor-input-uid" type="text" class="form-control" ng-model="convertor.uid"
                           placeholder="Enter a UID">
                </div>
                <input class="btn btn-primary" type="submit" value="Convert">
            </form>
            <span style="color: red;margin-top: 5px;padding-top: 5px;display: flex;">{[{convertor.error }]} </span>
            <span style="margin-top: 5px;padding-top: 5px;display: flex;">{[{convertor.euid}]} </span>
        </div>
        <hr>
        <div ng-controller="EUIDController as convertor">
            <form class="form-inline" ng-submit="convertor.convertToUID()">
                <div class="form-group">
                    <label for="convertor-input-euid">EUID:</label>
                    <input id="convertor-input-euid" class="form-control" type="text" size=48 ng-model="convertor.euid"
                           placeholder="Enter a EUID">
                </div>
                <input class="btn btn-primary" type="submit" value="Convert">
            </form>
            <span style="color: red;margin-top: 5px;padding-top: 5px;display: flex;">{[{convertor.error}]}</span>
            <span style="margin-top: 5px;padding-top: 5px;display: flex;">{[{convertor.uid}]}</span>
        </div>
    </div>
{% endblock %}

{% block extra_headers %}
    <script src="/libs/angular/js/angular.min.js"></script>
    <script src="/js/rdm.js"></script>
{% endblock %}