<!DOCTYPE html>
<html>
<head>
  <title>RDM Responder Publisher</title>
  <style type='text/css'>
    body {
      font-family: sans-serif;
      font-size: 13px;
    }

    #container {
      padding: 5px;
    }

  </style>
</head>
<body>

<div id='container'>
<form method="post" enctype="multipart/form-data" action="/incoming/model_data">

<p>Please select the file containing the Responder data you wish to
publish.</p>

<input name="model_file" type="file" />

<input type="submit" value="Upload" />
</html>
