<!DOCTYPE html>
<html>
<head>
  <title>RDM Responder Publisher</title>
  <meta name="description" content="">
</head>
<body>

{% if upload_ok %}
Post worked, but Simon hasn't written the storage logic.
<form>

</form>
{% else %}
Missing request data.
{% endif %}
</body>
</html>
