{% extends "base.tmpl" %}

{% block title %}RDM Responder Publisher{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data" action="/incoming/model_data">
        <p>
            Please select the file containing the Responder data you wish to publish.
        </p>
        <span class="btn btn-default btn-file">
            Browse <input name="model_file" type="file">
        </span>
        <br>
        <input class="btn btn-default" type="submit" value="Upload"/>
    </form>
{% endblock %}